@font-face {
   font-family: 'Nunito-SemiBold';
   font-display: swap;
   src: url('file:///D:/Work/FrontEnd/Projects/m4-mobirise/Create%20Awesome%20Mobile%20Web%20Sites%20Rus/fonts/Nunito-SemiBold/font.ttf');
}
